
TranThanhSolution5/.vs/TranThanhSolution5/v15/.suo
TranThanhSolution5/TranThanhSolution5/obj/Debug/TranThanhSolution5.csproj.FileListAbsolute.txt
TranThanhSolution5/TranThanhSolution5/obj/Debug/TranThanhSolution5.csprojAssemblyReference.cache
TranThanhSolution5/TranThanhSolution5/obj/Debug/TranThanhSolution5.dll
